In [1]:
# Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

number1 = 40
number2 = 30

if number1*number2 <= 1000:
    print(number1*number2)
else:
    print(number1+number2)

70

In [2]:
# Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

for i in range(10):
    print(i-1+i)

-1
1
3
5
7
9
11
13
15
17

In [4]:
# Write a program to accept a string from the user and display characters that are present at an even index number.

input_string = input()        # Harry_Potter

for i in range(0, len(input_string)):
    if i%2 == 0:
        print(input_string[i])

M
l
n

In [5]:
# Write a program to remove characters from a string starting from zero up to n and return a new string.

M = "My name is Milan"
M[11:]

'Milan'

In [6]:
# Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Py = [24, 12, 20, 25, 24]
if Py[0] == Py[-1]:
    print("True")
else:
    print("False")

True

In [7]:
# Iterate the given list of numbers and print only those numbers which are divisible by 5

x = [10, 26, 25, 99, 100, 35]

for i in x:
    if i%5 ==0:
        print(i)

10
25
100
35

In [8]:
# Write a program to find how many times substring “Emma” appears in the given string.

str_x = "Emma is good developer. Emma is a writer"
H = "Emma"
str_x.count(H)

2

In [9]:
what = 10
for i in range(1, what+1):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [10]:
num1 = 123321
h = "{}".format(num1)
g=h[::-1]
if h==g:
    print("This number is palindrome")
else:
    print("This number is not palindrome")

This number is palindrome

In [11]:
MV = [1234]
Vm = MV[::-1]
Vm

[1234]

In [12]:
# Taking input from the user
number = 1234

# Extracting digits in reverse order without using a function
digits_reverse = []
while number != 0:
    digit = number % 10
    digits_reverse.append(digit)
    number //= 10

# Printing the digits in reverse order
print("Digits in reverse order:", digits_reverse)

Digits in reverse order: [4, 3, 2, 1]

In [13]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [14]:
# Calculate income tax for the given income by adhering to the rules below

Income = 25000
A = 10000
B = 10000
C = Income-A-B

print(A/100*0 + B/100*10 + C/100*20)

2000.0

In [15]:
row = 1

while row <= 10:
    col = 1
    while col <= 10:
        product = row * col
        print(f"{row} * {col} = {product}\t", end=" ")
        col += 1
    print()
    row += 1

1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5	 1 * 6 = 6	 1 * 7 = 7	 1 * 8 = 8	 1 * 9 = 9	 1 * 10 = 10
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10	 2 * 6 = 12	 2 * 7 = 14	 2 * 8 = 16	 2 * 9 = 18	 2 * 10 = 20
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15	 3 * 6 = 18	 3 * 7 = 21	 3 * 8 = 24	 3 * 9 = 27	 3 * 10 = 30
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20	 4 * 6 = 24	 4 * 7 = 28	 4 * 8 = 32	 4 * 9 = 36	 4 * 10 = 40
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25	 5 * 6 = 30	 5 * 7 = 35	 5 * 8 = 40	 5 * 9 = 45	 5 * 10 = 50
6 * 1 = 6	 6 * 2 = 12	 6 * 3 = 18	 6 * 4 = 24	 6 * 5 = 30	 6 * 6 = 36	 6 * 7 = 42	 6 * 8 = 48	 6 * 9 = 54	 6 * 10 = 60
7 * 1 = 7	 7 * 2 = 14	 7 * 3 = 21	 7 * 4 = 28	 7 * 5 = 35	 7 * 6 = 42	 7 * 7 = 49	 7 * 8 = 56	 7 * 9 = 63	 7 * 10 = 70
8 * 1 = 8	 8 * 2 = 16	 8 * 3 = 24	 8 * 4 = 32	 8 * 5 = 40	 8 * 6 = 48	 8 * 7 = 56	 8 * 8 = 64	 8 * 9 = 72	 8 * 10 = 80
9 * 1 = 9	 9 * 2 = 18	 9 * 3 = 27	 9 * 4 = 36	 9 * 5 = 45	 9 * 6 = 54	 9 * 7 = 63	 9 * 8 = 72	 9 * 9 = 81	 9 * 10 = 90
10 * 1 = 10	 10 * 2 = 20	 10 * 3 = 30	 10 * 4 = 40	 10 * 5 = 50	 10 * 6 = 60	 10 * 7 = 70	 10 * 8 = 80	 10 * 9 = 90	 10 * 10 = 100

In [16]:
# Print multiplication table from 1 to 10

for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [17]:
# Print a downward Half-Pyramid Pattern of Star (asterisk)

for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [18]:
base = 2
exponent = 5

print(base**exponent)

32

In [19]:
# Write a program to accept two numbers from the user and calculate multiplication

x = int(input())
Y = int(input())

print(x*Y)

6

In [20]:
# Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

print('My', 'Name', 'Is', 'Milan', sep='**')

My**Name**Is**Milan

In [21]:
# Convert Decimal number to octal using print() output formatting

num = 8 
print('%o' % num)

10

In [22]:
# Display float number with 2 decimal places using print()

num = 24.2525456585
print(num.__round__(2))

24.25

In [23]:
num = 458.541315
print('%.2f' % num)

458.54

In [25]:
# Accept a list of 5 float numbers as an input from the user

number = []

for i in range(0, 5):
    print(i, ":")
    item = float(input())
    number.append(item)

print("User List:", number)

0 :
1 :
2 :
3 :
4 :
User List: [1.2, 2.3, 3.4, 4.5, 5.6]

In [26]:
# Accept any three string from one input() call

str1, str2, str3 = input("Enter Three Strings").split()
print(str1)
print(str2)
print(str3)

Milan
Virash
HP

In [27]:
totalMoney = 1000
quantity = 3
price = 450

HP = "I have {} ruppes so I can buy {} football for {} Ruppes."

print(HP.format(totalMoney, quantity, price))

I have 1000 ruppes so I can buy 3 football for 450 Ruppes.

In [28]:
# Print First 10 natural numbers using while loop 

count = 1

while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Sum is: 55

In [30]:
# Write a program to print multiplication table of a given number

n = 2

for i in range(1, 11, 1):
    print(n*i)

2
4
6
8
10
12
14
16
18
20

In [31]:
#Write a program to display only those numbers from a list that satisfy the following conditions

#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

Numbersss = [12, 75, 150, 180, 145, 525, 50]
for i in Numbersss:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i % 5 == 0:
        print(i)

75
150
145

In [32]:
# Count the total number of digits in a number

num = 75869

count = 0

while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [33]:
# Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]

list1.reverse()

for i in list1:
    print(i)

50
40
30
20
10

In [34]:
# Display numbers from -10 to -1 using for loop

for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [35]:
# Use else block to display a message “Done” after successful execution of for loop

for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [36]:
# Display Fibonacci series up to 10 terms

num1, num2 = 0, 1

for i in range(10):
    print(num1, end=" ")
    res =  num1 +num2

    num1 = num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

In [37]:
# Find the factorial of a given number

num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for Negative Numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [38]:
# Reverse a given integer number

num = 76542
reverse_number = 0
print("given Number", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Reversed number:", reverse_number)

given Number 76542
Reversed number: 24567

In [39]:
# Use a loop to display elements from a given list present at odd index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [40]:
# Calculate the cube of all numbers from 1 to a given number

integer = int(input())
for i in range(1, integer + 1):
    print("Current Number is :", i, "And the cube is", (i * i * i))

Current Number is : 1 And the cube is 1
Current Number is : 2 And the cube is 8
Current Number is : 3 And the cube is 27
Current Number is : 4 And the cube is 64
Current Number is : 5 And the cube is 125

In [41]:
# Find the sum of the series upto n terms

n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

In [42]:
#  Print the following pattern

rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
# Write a program to create a function that takes two arguments, name and age, and print their value.

def Bio(name, age):
    print(name, age)

Bio("Milan", 21)

Milan 21

In [44]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

In [45]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    return addition, subtraction

calculation(20, 10)

(30, 10)

In [46]:
def show_employee(name, salary=9000):
    print("Name:", name, "Salary:", salary)

show_employee("Milan", 600000)
show_employee("HP")

Name: Milan Salary: 600000
Name: HP Salary: 9000

In [47]:
# outer function
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

In [48]:
def addition(num):
    if num:
        return num + addition(num - 1)
    else:
        return 0
    
addition(10)

55

In [49]:
def display_student(name, age):
    print(name, age)

show_Student = display_student

show_Student("Milan", 21)

Milan 21

In [50]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [51]:
x = [4, 6, 8, 24, 12, 2]

print(max(x))

24

In [13]:
A = (24, 12, 20, 20)

print(A)
print(type(A))

(24, 12, 20, 20)
<class 'tuple'>

In [14]:
A = list(A)

In [15]:
A.append(1659)

In [16]:
print(A)
print(type(A))

[24, 12, 20, 20, 1659]
<class 'list'>

In [17]:
A = tuple(A)

In [18]:
print(A)
print(type(A))

(24, 12, 20, 20, 1659)
<class 'tuple'>

In [20]:
for i in A:
    print(i)

24
12
20
20
1659